{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h2>Sample Form</h2>
        <p>This is a sample form</p>
        <div class="row">
            <div class="col-md-6">
                <form action="{{ url('pdf') }}">
                    <div class="form-group">
                        <label for="usr">FirstName:</label>
                        <input type="text" name="firstName" class="form-control" id="usr">
                    </div>
                    <div class="form-group">
                        <label for="pwd">LastName:</label>
                        <input type="test" name="lastName" class="form-control" id="pwd">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Generate PDF</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
{% endblock %}